[user]
	email = david.thompson86@gmail.com
	name = David T Thompson
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOctJR5R9QhG/iwR9Xo7YkBPiNC5zNBc4jyg6BTt0eKB
[push]
	default = simple
[alias]
	root = rev-parse --show-toplevel
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	excludesfile = /Users/david/.gitignore
