# -----------------------------------------------------------------------------
# Regular Clojure Snippets...
# -----------------------------------------------------------------------------



# -----------------------------------------------------------------------------
# Loom Clojure Snippets...
# -----------------------------------------------------------------------------
snippet meta
	:metadata {
		:author :davidt
		;;:template-version 3.14159
		:strategy :${1:multi-sequence}
		;;:strategy-version 1.298
		:date-created "`system("date +%Y-%m-%d")`"
		:description "This story demonstrates use"
		;;:tags [:unit-test-1]
		;;:installation [:sc-north-wall]
		}
